#p1 {
  position:relative;
  height:100px;
  width:100px;
}

#p2 {
  position:relative;
  height:100px;
  width:100px;
  margin-left: 200px;
}

img {
  height:100px;
  width:100px;
  display: inline-block;
}
