* {
  margin:0px;
}

#title {
  font-size:100px;
 
  padding-top:70px;
  text-align:center;
  display:none;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

#container {
  z-index:0;
  background-image:url('https://i.ytimg.com/vi/HGbbqGRxznQ/maxresdefault.jpg');
  background-size:100%;
  height:694px;
  width:1280px;
  
}

.pop {
 border-radius: 50%;
 background-color: white;
 display:none;
 width:200px;
 height:200px;
 position:absolute;
 top:280px;
 text-align:center;
}

.pop:nth-child(2) {
 left:96px;
  background-position:0px 10px;
 background-image:url('https://s15.postimg.org/ikb31jq0n/Untitled.png');
  background-size:100%;
}
.pop:nth-child(3) {
 left:392px;
  background-position:0px 10px;
  background-image:url('https://s22.postimg.org/s3uf65z31/projects.png');
  background-size:100%;
}
.pop:nth-child(4) {
 left:688px;
  background-position:0px 10px;
 background-image:url('https://s21.postimg.org/rhnmfpmeb/gamez.png');
  background-size:100%;
}
.pop:nth-child(5) {
 left:984px;
  background-position:0px 10px;
 background-image:url('https://s16.postimg.org/lih5bq81t/random.png');
  background-size:100%;
}

p {
  margin-top:44%;
}
