


.main {
  position: fixed;
  margin-left: 91px;
  margin-top: 50px;
  background-color: #5b88f6;
  border: 2px solid black;
  width: 900px;
  height: 1200px;
  background-image:url(' http://www.planwallpaper.com/static/images/Abstract-Cool-Background.jpg');
  padding-left: 100px;
  padding-right: 100px;
  background-size: 1200px 900px;
  text-align: center;
}

.main p {
  color: white;
}



.topbar {
  position: fixed;
  height: 50px;
  width: 1101px;
  background-color: #10C8CD;
  border: 2px solid black;
  clear: both;
  margin-left: 91px;
  border-radius:12px;
}

.topbar div {
  display:inline-block;
  width 100px;
}

img {
  width: 300px;
  height:300px;
}

button {
  margin-top:500px;
}



