* {
  margin:0px;
}

#title {
  font-size:50px;
  position:absolute;
  margin-top:60px;
  text-align:center;
  display:none;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

#container {
  z-index:0;
  background-image:url('https://i.ytimg.com/vi/HGbbqGRxznQ/maxresdefault.jpg');
  background-size:100%;
  height:694px;
  width:1280px;
  
}

.pop {
 border-radius: 50%;
 background-color: white;
 display:none;
 width:200px;
 height:200px;
 position:absolute;
 top:246px;
 text-align:center;
}

.pop:nth-child(1) {
 left:96px;
}
.pop:nth-child(2) {
 left:392px;
}
.pop:nth-child(3) {
 left:688px;
}
.pop:nth-child(4) {
 left:984px;
}

p {
  margin-top:44%;
}
